<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: head_fragment(title=従業員詳細)"></head>

<body class="h-100 overflow-hidden">
    <div class="row h-100">
        <div class="h-100 p-3 mb-2 bg-dark text-white col-sm-2">
            <nav th:replace="common/side :: copy"></nav>
        </div>

        <div class="mt-3 h-100 col-sm-10">
            <div class="container-fluid p-0">
                <h1 th:text="'code:' + ${employee.code} + 'の従業員情報詳細'" class="h3 mb-3"></h1>
            </div>

            <div class="mb-3 col-12 col-xxl-6">

                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body mb-5">

                            <div class="wizard wizard-success mb-4">

                                <table class="table table-striped">
                                    <tr>
                                        <th class="w-25">社員番号</th>
                                        <td class="align-middle" th:text="${employee.code}"></td>
                                    </tr>
                                    <tr>
                                        <th>氏名</th>
                                        <td class="align-middle" th:text="${employee.name}"></td>
                                    </tr>
                                    <tr>
                                        <th>権限</th>
                                        <td class="align-middle" th:text="${employee.role.getValue}"></td>
                                    </tr>
                                    <tr>
                                        <th>登録日時</th>
                                        <td class="align-middle" th:text="${#temporals.format(employee.createdAt, 'yyyy-MM-dd hh:mm:ss')}"></td>
                                    </tr>
                                    <tr>
                                        <th>更新日時</th>
                                        <td class="align-middle" th:text="${#temporals.format(employee.updatedAt, 'yyyy-MM-dd hh:mm:ss')}"></td>
                                    </tr>
                                </table>
                                <div class="mt-5 row g-1">
                                    <div class="col-auto">
                                        <form name="form" th:action="@{/employees/{code}/delete(code=${code})}" th:method="post">
                                            <input type="submit" value="削除" class="btn btn-primary">
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <a th:href="@{/employees}" class="btn btn-primary">戻る</a>
                                    </div>
                                </div>
                                <span th:if="${deleteError} neq null" th:text="${deleteError}" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>